body{
	margin: 0; /*kulgedele ei jaa ruumi*/
	font-family: Arial, Helvetica, sans-serif;
}

*{
	box-sizing: border-box;
}
.header {
	text-align: center;
	padding: 80px;
	background-color: #b2ffff;
	color: gray;
}
.navbar {
	list-style-type: none;/*kaotab ara bydefault stiili*/
	margin: 0;/*vahe*/
	padding: 0;/*sisutaide*/
	overflow: hidden;/*kui tekst divi sees laheb divist suuremaks, siis see kaotatakse ara, mitte ei lukata sealt vlja*/
	background-color: grey;
	position: sticky; /*navbar liigub lehega kaasa*/
	position: -webkit-sticky; /*navbar liigub lehega kaasa, brauser mida me pole varem kasutanud*/
	top: 0;
}

.navbar a{
	float: left;
	text-decoration: none;/*eemaldame linkide all olevad jooned*/
	color: white;
	text-align: center;
	padding: 14px 16px;/*ulevalt ja alt ning paremalt ja vasakult*/
	display: block;
}

.navbar a:hover{
	background-color: #b2ffff;
	color: gray;
	transition-duration: 1s; /*kood akiveerub 3 sekundi jooksul*/
	width: 200px;
	font-size: 30px;
	font-size-adjust: 20px;
}
.navbar a.right{
	float: right;
}
.navbar a.active{
	background-color: #b2ffff;
	color: gray;
}
.row{
	display: flex;/*jaotatav kast*/
	flex-wrap: wrap;
	display: -ms-flexbox;
	-ms-flex-wrap:wrap;
}
.side{
	flex: 30%;/*kui palju peaks votma ruumi*/
	background-color: gray;
	padding: 20px;
	color: white;
}
.main{
	flex: 70%;
	background-color: #a6a6a6;
	padding: 20px;
	color: white;
}
.image{
	height: 100px;
	width: 300px;
	background-color: yellow;
}
img{
	width: 100%;
	height: 100%;
}
img:hover{
	transform: scale(1.5); /*pilt l'heb 1.5korda suuremaks hoveriga*/
	transition-duration: 1s;
}
.footer{
	text-align: center;
	padding: 20px;
	background-color: #b2ffff;
	color: gray;
}
@media screen and(max-width: 700px){/*kui ekraan laheb sellest suurusest vaiksemaks, siis kasuta neid vaartusi*/
	.row{
		flex-direction: column;
	}
	 .header{
		background-color: white;
	}
}
@media screen and(max-width: 400px){
	.navbar a{
		float: none;
		width: 100%;
	}

}
